{{define "title"}}Blog{{end}}

{{define "content"}}
<section class="blog">
    <input class="blog-search" type="text" placeholder="Search..." oninput="handleSearch(this.value)">
    {{if gt (len .Filters) 0}}
    <div class="filters-container">
        <p class="filter-text">Filtering on:</p>
        {{range .Filters}}
            <a class="filter-item" href="/blog?q={{.}}">#{{.}}</a>
        {{end}}
    </div>
    {{end}}
    {{if eq (len .Posts) 0}}
        No posts
    {{end}}
    <div class="blog-entry-container">
    {{range .Posts}}
        <div class="blog-entry">
            <p class="blog-date">{{.Published}}</p>
            <a href="/blog/{{.Slug}}">{{.Title}}</a>
        </div>
        {{end}}
    </div>
     <script>
         const allPosts = [...document.querySelectorAll('.blog-entry')]
         const container = document.querySelector('.blog-entry-container')
         const handleSearch = (value) => {
            const filteredPosts = allPosts.filter((post) => post.children[1].innerText.toLowerCase().includes(value.toLowerCase())
            )
            container.innerHTML = ''
            container.append(...filteredPosts)
        }
     </script>
</section>
{{end}}