.post {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post-title {
    font-size: 2rem;
    margin-bottom: 0;
}

.post-date {
    font-weight: normal;
    font-style: italic;
    margin-top: 8px;
}

.post-details {
    display: flex;
    flex-direction: column;
}

.post-contents {
    font-size: 1.1rem;
}

.tags-list {
    display: flex;
}

.tag {
    margin-right: 0.5rem;
}

.tag:hover {
    cursor: pointer;
}